.header-container .header.region--gray-background {
  background-color: rgb(244, 244, 244);
}
.site-branding__name {
    width: 500px;
}
.site-branding__name a {
  color: #3155a3;
}
.menu-item a {
    color: #000000;
}

.region-sidebar-first ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.main-content__section {
    padding-top: 100px;
}

.region-content a {
    text-decoration: underline;
}

a.button {
    text-decoration: none;
}

.view-id-sponsors .node__header {
    display: none;
}

.view-display-id-sponsor_sidebar .item-list ul li {
     margin-bottom: 2em;
}

#block-nedcamplogo p {
    margin-left: 2em;
    padding: 0px;
}

#block-nedcamp {
    padding-bottom: 1em;
}
.background-image-block__section {
    margin-left: 0;
    margin-right: 0;
    margin: 0 -15px;
    padding: 90px 0;
}
.background-image .background-image--attachment-scroll {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
}
.background-image .region--black-background {
    position: relative;
}
