/**
 * @file
 * Subtheme specific CSS.
 */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #3b3b3b;
}
h2 {
    font-size: 1.5rem;
}
h3 a {
    color: #10242b;
}
.icon-block-outer h3 {
    margin-bottom: 25px;
}
.icon-block-outer h3 a {
    font-weight: 600;
}
#navbar-main > .container {
    display: block;
}
#navbar-main .site-branding-outer {
    text-align: left;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
#navbar-main a.navbar-brand {
    display: block;
    float: left
}
#navbar-main h1.site-name {
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    font-variant: small-caps;
    letter-spacing: 3px;
    line-height: 1;
    width: 500px;
    margin-top: 0.5rem;
}
#navbar-main h1.site-name a {
    font-family: serif;
}
#navbar-main h1.site-name a,
#navbar-main h1.site-name a:hover {
    text-decoration: none;
    color: #3155a3;
}

.highlighted .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.featured-top{
    background-color: rgb(246,248,249);
}
.section-title {
    font-size: 34px;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    line-height: 1.2;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.section-title::before{
    background: #123c63;
    bottom: 0;
    content: "";
    height: 3px;
    width: 40px;
    display: inline-block;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
}
.field--type-text-with-summary {
    margin: 0 0 15px;
}
#block-breadcrumbs {
    text-align: center;
    padding: 20px 15px;
    width: 100%;
    background-color: #f7f7f7;
}
.breadcrumb {
    padding: 0;
    margin: 0;
    display: block;
    background-color: transparent;
}
.breadcrumb li {
    display: inline-block;
}

.view-front-practice-areas {
    position: relative;
    z-index: 100;
    margin-top: -100px;
    padding-bottom: 70px;
}
.view-front-practice-areas [class*="col-"]:nth-child(3n+2) .icon-block-outer {
    margin-top: -20px;
}
.view-front-practice-areas .icon-block-outer {
    text-align: center;
    background: #fff;
    padding: 40px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 46px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.view-front-practice-areas .icon-block-outer:hover {
    background: #123c63;
}
.icon-block-outer:hover h3 a, .icon-block-outer:hover p, .icon-block-outer:hover a.button-text, .icon-block-outer:hover a.button-text::after{
    color: #fff;
}
.view-front-practice-areas .icon-block-outer h3 {
    font-size: 22px;
}

.view-front-practice-areas .view-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.view-front-slider .row {
    display: block;
}
.view-front-slider .carousel-item::after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}
.view-front-slider .carousel-item .carousel-caption {
    bottom: auto;
    top: 50%;
    transform: translateY(-80%);
}
.view-front-slider .carousel-item .carousel-caption h2 {
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}
.view-front-slider .carousel-item .carousel-caption p {
    text-transform: uppercase;;
}



.icon-block-outer .button-container,
.carousel-caption .button-container {
    margin-top: 60px;
}
.button-primary,
a.button-primary {
    background-color: #123c63;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    padding: 12px 30px 13px;
    line-height: 1;
    font-weight: 600;
    position:relative;
    display: inline-block;
    border:0;
    text-decoration: none;
}
.button-primary:hover, .button-primary:focus, .button-primary:active,
a.button-primary:hover, a.button-primary:focus, a.button-primary:active {
    color: #fff;
    padding-left: 60px;
}
.button-primary::before {
    background-color: #ffffff;
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    opacity: 1;
    height: 1px;
    width: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.button-primary:hover::before{
    width: 30px;
    opacity: 1;
}
.view-banner-blocks .page-banner-bg {
    position: relative;
}
.view-banner-blocks .page-banner-bg .field-content::after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}
.view-banner-blocks .views-field-title {
    position: absolute;
    right: 15%;
    top: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
}
.view-banner-blocks .views-field-title a {
    color: #fff;
}
.node--view-mode-card.ds-2col-fluid {
    display:flex;
    align-items: center;
}
.view-front-about-us .field--type-image {
    margin-right: 0;
}
.view-front-about-us .group-right img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.view-front-about-us .group-left {
    padding: 0 50px 0 100px;
}
.view-front-about-us .group-left .section-title::before {
    left: 0;
    right: auto;
}
.view-front-about-us .group-left .button-container {
    margin-top: 40px;
}
#block-faqcallout {
    width: 100%;
    color: #fff;
}
#block-faqcallout .card {
    border: 0;
}
#block-faqcallout .field--name-field-background-image {
    height: 200px;
}
#block-faqcallout .card-img-overlay {
    background: rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
}
#block-faqcallout .section-title {
    margin:0;
    padding:0;
}
#block-faqcallout .section-title::before {
    display:none;
}
#block-faqcallout .card-img-overlay .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-top-third, .featured-bottom {
    background-color: rgb(246,248,249);
    padding: 60px 0 80px 0;
}
.section-title-group {
    text-align: center;
    margin-bottom: 70px;
}
#block-views-block-front-media-block-1, #block-contactus {
    width: 100%;
}
.view-front-media .skin-default {
    margin: 0 auto;
}
#contact-message-feedback-form label {
    width: 100%;
    font-weight: 400;
    color: #a1a1a1;
    font-size: 13px;
}
#block-contactus .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    margin: 0;
    width: 100%;
    height: 46px;
    border: 2px solid #e1e1e1;
    background: transparent;
    padding: 10px 5px 8px 15px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
#block-contactus textarea.form-control {
    height: 100px;
}
.form-required::after {
    background-image:none !important;
    content: '(required)' !important;
    vertical-align: unset !important;
}
#block-contactus .form-group {
    padding:0;
}

#edit-actions {
    margin-top: 40px;
}
.form-submit.button-primary {
    font-size: 13px;
}
.form-submit.button-primary:hover,
.form-submit.button-primary:active {
    padding-left: 30px;
}
.form-submit.button-primary:hover::before {
    display: none
}
.form-submit.button-primary:hover {
    background-color:#222;
}
